body{
    margin:0;
    background:black;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.section1{
       margin:auto;
       padding:50px;
}

.section2{
    margin:auto;
    padding:50px;
    background:#333;
    color:white;
    font-family: 'Rajdhani', sans-serif; 
}

.textstyling{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color:white;
}


.textstyling2{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color:black;
}


/*Nexo Web design*/


body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}
/*global*/
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;   
}

.ul{
    padding:0;
    margin:0;
}

.button_1{
   min-height:32.5px;
    color:#fff;
    background-color: #e8491d;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    border-radius: 5px;
}
.button_2{
    min-height:32.5px;
     color:#fff;
     background-color:#35424a;
     padding-left: 20px;
     padding-right: 20px;
     border:none;
     border-radius: 5px;
 }

.dark{
    padding-top:15px;
    background-color: #e8491d;
    color:#fff;
    margin-top:15px;
    margin-bottom: 10px;
    padding-left:17px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius:10px;
    margin-left:10px;
}

.darktone{
    padding-top:15px;
    background-color:#35424a;
    color:#fff;
    margin-top:15px;
    margin-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius:10px;
    margin-left:0px;
}

/*Header*/
header{
    background: #35424a;
    color:#ffffff;
    padding-top:30px;
    min-height: 60px;
    border-bottom: #e8491d 2px solid;
}
header a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
         margin:0;
         padding:0;
         float:right;
}
header li{
    float:left;
    display:block;
    padding: 10px 10px 0 10px;
    margin-left: 20px;
}

header #branding{
    float:left;
}
header #branding h1{
    margin:0;
}

header nav{
    float:right;
}

header .highlight , header .current a{
    color:#e8491d;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/*Showcase*/
#showcase{
    min-height:400px;
    background:url('bus.jpg') no-repeat  -280px -240px;
    text-align: center;
    color:antiquewhite;
}
#showcase h1{
    margin-top:130px;
    font-size: 55px;
    margin-bottom:10px;
}
.p1{
    color:antiquewhite;
    font-weight: bold;
    font-size:15px;
}

#newsletter{
    background-color: #35424a;
    padding:5px;
    color:#fff;
}

#newsletter h1{
    float:left;
}
#newsletter form{
    float:right;
    padding-top:18px;
}

#newsletter input[type="email"]{
   padding:4px;
   min-height:20px;
   min-width: 270px;
   border-radius:6px;
}

.services{
    width:60%;
    float:left;
    padding:0px;
}

/*Mian column article*/
#sidebar{
    width: 30%;
    float:right;
}

#main-col{
    width: 65%;
    float:left;
    margin-top: 10px;
}

/*boxes*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
          float:left;
          width: 30%;
          text-align:center;
          padding:10px;
        }
#boxes .box img{
    min-width: 20px;
}

footer{
      padding:20px;
      margin-top:20px;
      background-color:#35424a;
      color:#fff;
      text-align:center;
      font-weight:bold;
}

.ser{
    list-style: none;
    padding:20px;
    border:#cccccc 2px solid;
    margin-bottom:10px;
    background:#e6e6e6;
    margin-top: 10px;
}
.quote{
    width: 90%;
    height:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#35424a;
    border-radius: 5px;
    border:none;
    padding-left:5px;
}
.quote1{
    width:90%;
    resize: none;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#35424a;
    border-radius: 5px;
    border:none;
    padding-left:5px;
}
/*Media Queries*/
@media(max-width:768px){
  header #branding,nav,li,#boxes .box,#main-col,#sidebar,.services{
      float:none;
      width:100%;
      text-align: center;
      margin-right:40px;
  }
  header{
      padding-bottom:20px;
  }

  header h1{
      font-size:25px;
  }

  #showcase h1{
      margin-top:20px;
      font-size: 50px;
  }

  #newsletter h1,form[type="email"]{
    float:none;
    width:100%;
    text-align: center;
  }
  .button_1{
          margin-top:10px;
          width: 100%;
  }
  .email{
      width: 96%;
  }
 .ser{
     width: 80%;
  }
  .button_2{
      width: 93%;
      margin-top:3px;
      margin-bottom:3px;
  }
  #boxes{
      width: 100%;
  }
}